<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Movie</h1>
    <a href="/movies/add">add movie</a>
    <table border="1">
        <tr>
            <th>Movie</th>
            <th>Released Year</th>
            <th>Genre</th>
            <th>Production House</th>
            <th>Action</th>
        </tr>
        <% data.forEach(el => { %>
            <tr>
                <td><%= el.name%></td>
                <td><%= el.released_year%></td>
                <td><%= el.genre%></td>
                <td><%= el.production_house%></td>
                <td>
                    <a href="/movies/edit/<%=el.id%>">edit</a> |
                    <a href="/movies/delete/<%=el.id%>">delete</a>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>